html,
.navbar-brand img {
  height: 50px; 
}
.nav-item a:hover{
  background-color: #86b4d3;
    color: #fff;

}
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.custom-paragraph {
  font-size: 18px; 
}
.container_contact{
  margin-left: 300px;
}
.gradient {
  background: rgb(94, 10, 100);
  background: linear-gradient(
    135deg,
    rgb(75, 12, 114) 0%,
    rgb(107, 151, 179) 100%
  );
}
.Appointment{
  color: #fff;
}
.page-header {
  margin-top: 4rem;
  font-size: 3rem;
  color: #e8e8e8;
}

.feature {
  color: #fff;
}
.features{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.feature-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 208, 239);
}
.feature-box{
  background-color: #fff;
  width: 300px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow:  5px 10px 30px rgba(0, 0, 0, 0.13);
}
.f-img{
  width: 100%;
  height: 63%;
}
.f-img img{
  width: 100%;
  height: 100%;
}
.f-text{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: blue
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin-top: 2rem;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}


.footer{
  margin: 2rem;
}



